이번 챕터에선 DataFrame의 기본 기능을 중점적으로 다루고 dataframe의 데이터를 다루는 기능을 알아보겠다.

이번 챕터에서 알아야할 개념들에 대해 간략히 정리하고 가자.

* dataframe은 row 타입의 레코드(like 테이블의 row)와 각 레코드에 수행할 연산 표현식을 나타내는 여러 컬럼(like 스프레드시트의 컬럼)으로 구성됨.
* 스키마는 각 컬럼명과 데이터 타입을 정의함.
* dataframe의 파티셔닝은 dataframe이 클러스터에서 물리적으로 배치되는 형태를 정의함.
* 파티셔닝 스키마는 파티션을 배치하는 방법을 정의함.

예시 dataframe을 생성해보자.

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
.appName("Section3").\
config("spark.some.config.option","some-value")\
.getOrCreate()

df = spark.read.format("json").load("../data/flight-data/json/2015-summary.json")

In [4]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

dataframe은 컬럼을 가지며 스키마로 컬럼을 정의한다. 스키마를 한번 살펴보자.

In [5]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

대충 보니까 느낌이 온다. **컬럼명 : 컬럼의 데이터 타입** 형식인 것 같다.